.ts-form-route-total {
  display:table;
  width: 100%;
  background-color: #ddd;
  margin: 0.75em 0;
  padding: 23px 0;
}

.ts-form-route-total span {
  display:table-cell;
  text-align:center;
  padding: 0 10px;
}

.ts-form-route-total span:first-child {
  text-align:left;
}

.ts-form-route-total span:last-child {
  text-align:right;
}

.ts-form-reset-btn {
  width: 100%;
  height: 2.25em;
  margin: 0 0 0.75em 0;
  color: #fff;
  background-color: #009e0f;
  font-weight: 600;
  font-size: 1.2em;
}

.ts-form-reset-btn img {
  width: 16px; vertical-align: middle;
}
